/* 0. Переменные */
$main-menu-item-height: 110px;
$main-menu-width: 120px;
$main-menu-width-lg: 110px;
$main-menu-width-md: 100px;
$main-menu-width-xs: 90px;

$sub-menu-width: 230px;
$sub-menu-width-lg: 220px;
$sub-menu-width-md: 200px;
$sub-menu-width-xs: 190px;

$navbar-height: 120px;
$navbar-height-xs: 70px;
$navbar-height-md: 80px;
$navbar-height-lg: 90px;

$main-margin: 60px;
$main-margin-lg: 50px;
$main-margin-md: 40px;
$main-margin-xs: 15px;

$app-menu-width: 280px;

$main-menu-item-height-mobile: 90px;

$menu-collapse-time: 300ms;
$animation-time-long: 1000ms;
$animation-time-short: 200ms;

$border-radius: 0.1rem;

$info-color: #3195a5;
$success-color: #3e884f;
$warning-color: #b69329;
$error-color: #c43d4b;

$separator-color-light: #f3f3f3;
$separator-color: #d7d7d7;
$background-color: #f8f8f8;
$foreground-color : white;
$input-background: white;
$dark-btn-background: #131113;
$light-btn-background: #ececec;
$button-text-color: #fff;

$primary-color: #212121;
$secondary-color: #8f8f8f;
$muted-color: #909090;

$gradient-color-1 : #3693ce;
$gradient-color-2 : #104978;
$gradient-color-3 : #3582b2;

$shadowOffsetsTop : 1 3 10 14 19;
$shadowBlursTop: 1.5 5 10 14 19;
$shadowOpacitiesTop: 0.04 0.1 0.19 0.25 0.3;

$shadowOffsetsBottom : 1 3 6 10 15;
$shadowBlursBottom: 3 6 6 5 6;
$shadowOpacitiesBottom: 0.04 0.1 0.2 0.22 0.22;

/* 1. Базовые стили */
html {
    width: 100%;
    height: 100%;
    background: $background-color;
}

#root {
    height: 100%;
}

:focus {
    outline: initial;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: $primary-color;
    background: $background-color;
    &.background {
        height: 100%;

        main {
            margin: 0 !important;
            height: 100%;

            .container {
                height: 100%;
            }
        }
    }
}



/* 09. Панель навигации*/
.navbar {
    background: $foreground-color;
    height: $navbar-height;
    padding: 1.5rem 0 1.5rem 0;
    @include depth(1);

    #tool-mode-switch {
        margin-bottom: 0;
        vertical-align: middle;
    }

    .notificationDropdown {
        width: 260px;
        padding: 1.5rem;
        height: 280px;
        right: 15px;

        .ps-container {
            height: 250px;
        }
    }

    .iconMenuDropdown {
        width: 220px;
        padding: 1.5rem 1rem;
        height: 290px;
    }

    .icon-menu-item {
        width: 90px;
        display: inline-block;
        text-align: center;
        margin-bottom: 1.7rem;
        color: rgba($primary-color, 0.8);

        i {
            font-size: 28px;
            line-height: 42px;
        }

        span {
            text-align: center;
            padding: 0 10px;
            line-height: 14px;
        }

        &:hover,
        &:focus {
            color: #145388;
        }
    }

    .menu-button-mobile {
        color: $secondary-color;
        text-align: center;
        margin-left: $main-margin-xs;
        svg {
            height: 12px;
            fill: $primary-color;
        }

        @include respond-below(sm) {
            width: 20px;
        }
    }

    .menu-button {
        color: $secondary-color;
        width: $main-menu-width;
        text-align: center;

        svg {
            height: 12px;
        }

        .main {
            fill: $primary-color;
            transition: fill $menu-collapse-time;
        }

        .sub {
            fill: $primary-color;
            transition: fill $menu-collapse-time;
        }

        &:hover {
            color: #145388;
        }

        @include respond-below(xl) {
            width: $main-menu-width-lg;
        }

        @include respond-below(lg) {
            width: $main-menu-width-md;
        }

        @include respond-below(sm) {
            width: 60px;
        }
    }

    .navbar-left {
        flex-basis: 40%;
    }

    .navbar-right {
        flex-basis: 40%;
        text-align: right;

        .user {
            margin-right: $main-margin;

            @include respond-below(xl) {
                margin-right: $main-margin-lg;
            }

            @include respond-below(lg) {
                margin-right: $main-margin-md;
            }

            @include respond-below(sm) {
                margin-right: $main-margin-xs;
            }
        }
    }

    .navbar-logo {
        width: 160px;
        height: 55px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;

        .logo {
            width: 100%;
            height: 100%;
            background: url($logoPath) no-repeat;
            background-position: 50%;
        }

      /*  .logo-mobile {
            width: 100%;
            height: 100%;
            background: url($logoPathMobile) no-repeat;
            background-position: center center;
        } */

        @include respond-below(sm) {
            width: 80px;
        }

        @include respond-below(xxs) {
            width: 20px;
        }
    }

    .language-button {
        background: $background-color;
        border: initial;
        font-size: 0.8rem;
        color: $secondary-color;
        padding: 0.6rem 1rem;

        @include respond-below(xs) {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }

    .search {
        position: relative;
        width: $sub-menu-width;
        border-radius: 20px;
        background: $background-color;

        input {
            border: initial;
            background: transparent;
            outline: initial !important;
            padding: 0.5rem 1rem;
            line-height: 2;
            font-size: 0.8rem;
            width: 93%;
            color: $primary-color;
        }

        .search-icon {
            font-size: 17px;
            border-radius: 10px;
            color: $secondary-color;
            position: absolute;
            width: 40px;
            height: 40px;
            bottom: -8px;
            right: 3px;
            text-align: center;
            cursor: pointer;

            &:hover {
                color: #145388;
            }
        }

        @include respond-below(lg) {
            width: $sub-menu-width * 0.7;
            input {
                width: 85%;
            }
        }

        @include respond-below(md) {
            width: $sub-menu-width/2;

            input {
                width: 85%;
            }
        }

        @include respond-below(sm) {
            width: 30px;
            height: 30px;
            background: initial;
            margin-left: 0.6rem;
            color: rgba($primary-color, 0.7);

            input {
                display: none;
            }

            .search-icon {
                font-size: 17px;
                width: 30px;
                height: 30px;
                bottom: -3px;
                right: 0;
                color: inherit;
            }

            &.mobile-view {
                display: block;
                width: 100%;
                position: fixed;
                z-index: 2;
                background: $foreground-color;
                left: 0;
                top: 0;
                height: $navbar-height-xs;
                margin-left: 15px;

                input {
                    display: block;
                    width: 100%;
                    height: 70px;
                    padding-left: 0;
                }

                span {
                    top: 50%;
                    transform: translateY(-50%);
                    right: 25px;
                }
            }
        }
    }

    .header-icons {
        margin-right: 1rem;

        @include respond-below(xs) {
            margin-right: 0;
        }
    }

    .header-icon {
        font-size: 16px;
        color: $secondary-color;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        vertical-align: initial;

        @include respond-below(xs) {
            padding-left: 0.3rem;
            padding-right: 0.3rem;
        }

        &::after {
            border: initial;
        }

        &:hover {
            color: #145388;
        }

        &#fullScreenButton i:last-of-type {
            display: none;
        }

        &.notificationButton {
            .count {
                font-size: 10px;
                color: #145388;
                border: 1px solid #145388;
                border-radius: 10px;
                position: absolute;
                width: 18px;
                height: 15px;
                text-align: center;
                font-weight: 700;
                line-height: 14px;
                top: -3px;
                right: 6px;

                @include respond-below(xs) {
                    right: -1px;
                }
            }
        }
    }

    .user {
        color: lighten($primary-color, 30%);
        position: relative;

        .dropdown-toggle:after {
            border: initial;
        }

        img {
            margin-left: 10px;
            border-radius: 30px;
            width: 40px;
        }

        @include respond-below(md) {
            .name {
                display: none;
            }
        }

        @include respond-below(sm) {
            img {
                width: 30px;
            }

            margin-left: initial;

            &:after {
                font-size: 11px;
                width: 14px;
                height: 14px;
                bottom: -3px;
                right: -3px;
            }
        }
    }

    @include respond-below(xl) {
        height: $navbar-height-lg;
    }

    @include respond-below(lg) {
        height: $navbar-height-md;
        padding: 1rem 0 1rem 0;
    }

    @include respond-below(sm) {
        height: $navbar-height-xs;
        padding: 10px 0;
    }
}

.sub-hidden .menu-button,
.menu-sub-hidden .menu-button {
    .sub {
        fill: $secondary-color;
    }
}

.main-hidden .menu-button,
.menu-hidden .menu-button {
    .main,
    .sub {
        fill: $secondary-color;
    }
}

/* 10.Menu*/
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: $navbar-height;
    z-index: 6;
    height: calc(100% - #{$navbar-height});

    .ps-container {
        margin-right: 0;
        padding-right: 0;
    }

    .main-menu {
        width: $main-menu-width;
        height: calc(100% - #{$navbar-height});
        background: $foreground-color;
        z-index: 3;
        position: fixed;
        transition: transform $menu-collapse-time;
        padding-top: 2px;
        left: 0;

        .scroll {
            padding-right: unset;
            margin-right: unset;
            height: 100%;

            .ps__scrollbar-y {
                right: 0 !important;
            }
        }

        &.main-hidden {
            transform: translateX(-$main-menu-width);
        }

        ul li {
            position: relative;

            span {
                text-align: center;
                padding: 0 10px;
                line-height: 14px;
            }

            a {
                height: $main-menu-item-height;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                border-bottom: 1px solid $separator-color-light;
                color: $primary-color;
                transition: color $menu-collapse-time;
                transition: background $menu-collapse-time;

                &:hover {
                    color: #145388;
                    background: $background-color;
                }
            }

            i {
                font-size: 32px;
                line-height: 42px;
            }

            &.active a {
                color: #145388;
            }

            &.active:after {
                content: " ";
                background: #145388;
                border-radius: 10px;
                position: absolute;
                width: 6px;
                height: 90px;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
            }
        }

        @include respond-below(xl) {
            width: $main-menu-width-lg;
            height: calc(100% - #{$navbar-height-lg});
        }

        @include respond-below(lg) {
            width: $main-menu-width-md;
            height: calc(100% - #{$navbar-height-md});
        }

        @include respond-below(sm) {
            width: $main-menu-width-xs;
            height: calc(100% - #{$navbar-height-xs});

            ul li i {
                font-size: 28px;
                line-height: 38px;
            }

            ul li a {
                height: $main-menu-item-height-mobile;
            }

            ul li.active:after {
                width: 3px;
                height: 60px;
            }
        }
    }

    .sub-menu {
        width: $sub-menu-width;
        background: $foreground-color;
        z-index: 2;
        position: fixed;
        left: $main-menu-width;
        border-left: 1px solid $separator-color-light;
        @include depth(2);
        transition: transform $menu-collapse-time;
        height: calc(100% - #{$navbar-height});

        .scroll {
            height: 100%;
            margin-top: 2px;
            margin-right: unset;
            padding-right: unset;

            .ps__scrollbar-y {
                right: 0;
            }
        }

        .ps {
            padding-top: 25px;
            padding-bottom: 25px;
        }

        ul {
            display: none;

            li {
                margin-bottom: 10px;
                margin-left: 30px;

                a {
                    font-size: 13px;
                    display: block;
                    padding: 8px 0;
                }

                i {
                    font-size: 1.3em;
                    margin-right: 10px;
                    color: $secondary-color;
                    vertical-align: middle;
                }

                span {
                    vertical-align: middle;
                    padding-top: 3px;
                    display: inline-block;
                }

                &.active i,
                &.active a {
                    color: #145388;
                }

                @include respond-below(sm) {
                    margin-left: 15px;
                }
            }
        }

        .third-level-menu {
            display: block;
            .nav-item {
                margin-bottom: 2px;
            }
        }

        @include respond-below(xl) {
            left: $main-menu-width-lg;
            width: $sub-menu-width-lg;
            height: calc(100% - #{$navbar-height-lg});
        }

        @include respond-below(lg) {
            left: $main-menu-width-md;
            width: $sub-menu-width-md;
            height: calc(100% - #{$navbar-height-md});
        }

        @include respond-below(sm) {
            left: $main-menu-width-xs;
            width: $sub-menu-width-xs;
            height: calc(100% - #{$navbar-height-xs});
        }
    }

    @include respond-below(xl) {
        padding-top: $navbar-height-lg;
    }

    @include respond-below(lg) {
        padding-top: $navbar-height-md;
    }

    @include respond-below(sm) {
        padding-top: $navbar-height-xs;
        @include depth(1);
    }
}

//Menu Config Main Menu Sub Menu

.sub-hidden .sub-menu,
.menu-sub-hidden .sub-menu,
.menu-hidden .sub-menu {
    transform: translateX(-$sub-menu-width);

    @include respond-below(xl) {
        transform: translateX(-$sub-menu-width-lg);
    }

    @include respond-below(lg) {
        transform: translateX(-$sub-menu-width-md);
    }

    @include respond-below(sm) {
        transform: translateX(-$sub-menu-width-xs);
    }
}

.main-hidden .main-menu,
.menu-hidden .main-menu {
    transform: translateX(-$main-menu-width);

    @include respond-below(xl) {
        transform: translateX(-$main-menu-width-lg);
    }

    @include respond-below(lg) {
        transform: translateX(-$main-menu-width-md);
    }

    @include respond-below(sm) {
        transform: translateX(-$main-menu-width-xs);
    }
}

.main-hidden.sub-hidden .sub-menu,
.menu-hidden .sub-menu {
    transform: translateX(-$sub-menu-width - $main-menu-width);

    @include respond-below(xl) {
        transform: translateX(-$sub-menu-width-lg - $main-menu-width-lg);
    }

    @include respond-below(lg) {
        transform: translateX(-$sub-menu-width-md - $main-menu-width-md);
    }

    @include respond-below(sm) {
        transform: translateX(-$sub-menu-width-xs - $main-menu-width-xs);
    }
}

//Mobile
.menu-mobile {
    .main-menu {
        transform: translateX(-$main-menu-width-xs);
    }

    .sub-menu {
        transform: translateX(-$sub-menu-width-xs - $main-menu-width-xs - 50);
    }
}

//Show Temporary
.main-show-temporary {
    .main-menu {
        transform: translateX(0);
    }

    .sub-menu {
        transform: translateX(-$sub-menu-width);
    }

    @include respond-below(xl) {
        .main-menu {
            transform: translateX(0);
        }

        .sub-menu {
            transform: translateX(-$sub-menu-width-lg);
        }
    }

    @include respond-below(lg) {
        .main-menu {
            transform: translateX(0);
        }

        .sub-menu {
            transform: translateX(-$sub-menu-width-md);
        }
    }

    @include respond-below(sm) {
        .sub-menu {
            transform: translateX(-$sub-menu-width-xs);
        }
    }
}

.sub-show-temporary,
.menu-mobile.sub-show-temporary {
    .sub-menu {
        transform: translateX(0);
    }
}
